LoadPlugin disk
<Plugin "disk">
    {% for disk in collectd_disk_disks %}
    Disk "{{ disk }}"
    {% endfor %}
	 {% if collectd_disk_ignore_selected is defined and collectd_disk_ignore_selected == True %}
    IgnoreSelected true
	 {% else %}
    IgnoreSelected false
	 {% endif %}
</Plugin>
